@using Microsoft.Extensions.Configuration;

@inject IConfiguration settings

@{ 
    string clientId = settings.GetSection("Authentication").GetSection("Google").GetSection("ClientId").Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content="@clientId">

    <title>@ViewData["Title"] - Project</title>
    <!-- Font awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @if (Context.Request.Cookies["theme"] == null) 
    {
        <link rel="stylesheet" href="~/css/light-theme.css" />
    }
    else
    {
        if (Context.Request.Cookies["theme"] == "dark")
        {
            <link rel="stylesheet" href="~/css/dark-theme.css" />
        }
        if (Context.Request.Cookies["theme"] == "light")
        {
            <link rel="stylesheet" href="~/css/light-theme.css" />
        }
    }
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
            <div class="navbar-collapse collapse">
                <form asp-controller="Search" asp-action="Index" method="post">
                    <div class="form-group has-search search d-inline-block">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" name="searchQuery" placeholder="Search">
                    </div>
                    <input type="hidden" value="" />
                </form>
            </div>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">What To</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin panel</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <div class="custom-control custom-switch mode-switcher">
                    @if (Context.Request.Cookies["theme"] == "dark")
                    {
                        <input type="checkbox" asp-action="/Home/ChangeTheme" class="custom-control-input" checked id="dark-mode-switch">
                    }
                    else
                    {
                        <input type="checkbox" asp-action="/Home/ChangeTheme" class="custom-control-input" id="dark-mode-switch">
                    }
                    <label class="custom-control-label" for="dark-mode-switch">Dark mode</label>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2022 - Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/ckeditor/ckeditor.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
