body {
    /* Margin bottom by footer height */
    background: #f3f3f3;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    border-top: 1px solid #55555530;
}

.navbar {
    color: #555555;
    box-shadow: 0 -2px 8px #555;
    text-shadow: 0 0 1px #555555a0;
}

.navbar a {
    color: #555;
    text-shadow: 0 0 1px #555555a0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*.review-result-header {
    background: #0366d620;
    padding: 1% 1.5%;
    border-radius: 10px;
    margin: 0 0 1%;
}

.review-result-text {
    background: #0366d630;

}
*/

.profile-header {
    background: #ff780025;
    box-shadow: 0 0 10px #66666620;
}