@model WhatTo.Models.Review
@using WhatTo.Data;
@inject ApplicationDbContext db;
@{
    ViewData["Title"] = "View";
}

<h1>Creating review</h1>
<hr />
<div class="">
    <div class="">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name of review</label>
                <input asp-for="Name" name="reviewName" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category"name="reviewCategory" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" name="reviewText" id="text-review" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <label asp-for="Rating" class="control-label"></label>
                </div>
                <div class="rating">
                    <div class="rating-items">
                        <input id="rating-5" type="radio" class="rating-item" name="reviewRating" value="5" />
                        <label for="rating-5" class="rating-label"></label>
                        <input id="rating-4" type="radio" class="rating-item" name="reviewRating" value="4" />
                        <label for="rating-4" class="rating-label"></label>
                        <input id="rating-3" type="radio" class="rating-item" name="reviewRating" value="3" />
                        <label for="rating-3" class="rating-label"></label>
                        <input id="rating-2" type="radio" class="rating-item" name="reviewRating" value="2" />
                        <label for="rating-2" class="rating-label"></label>
                        <input id="rating-1" type="radio" class="rating-item" name="reviewRating" value="1" />
                        <label for="rating-1" class="rating-label"></label>
                    </div>
                </div>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Load file</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="inputGroupFile"
                               aria-describedby="inputGroupFileAddon">
                        <label class="custom-file-label" for="inputGroupFile">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
