@using Microsoft.AspNetCore.Identity
@using WhatTo.Data;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ApplicationDbContext db

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<a class="" asp-area="" asp-controller="Home" asp-action="ChangeTheme">Change Theme</a>
        <input type="checkbox" checked data-toggle="toggle">*@
</div>
@if (SignInManager.IsSignedIn(User))
{
    <div>
        <div class="text-right">
            <a class="btn btn-secondary btn-lg" role="button" id="create-review-btn" asp-controller="Home" asp-action="CreateReview">Create review</a>
        </div>
    </div>
}
<p>
    @for (int i = db.Reviews.Count() - 1; i >= 0; i--)
    {
        <div class="text-center review-link">
            <a class="btn btn-secondary btn-lg btn-block review-btn" role="button" asp-controller="Review" asp-action="Index" asp-route-id=@(i + 1) >
                <div class="review-btn-justify">
                    <div class="topic-btn-name">    
                        @db.Reviews.ToArray()[i].Name
                    </div>
                    <div class="topic-btn-category">
                        @db.Reviews.ToArray()[i].Category
                    </div>
                </div>
            </a>
        </div>
    }
</p>
